<!DOCTYPE html>
<html>

<head>
    <title>Protocol Form</title>
    <link rel="stylesheet" type="text/css" href="index_style.css">
</head>

<body>
    <form id="protocol-form">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="company">Company:</label>
        <select id="company" name="company">
            <option value="TelForceOne">TelForceOne</option>
            <option value="MPTech">MPTech</option>
            <option value="Teletorium">Teletorium</option>
        </select>


        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment"></textarea>

        <button type="submit">Submit</button>
    </form>
<script src="{{ url_for('static', filename='scripts/protocol_post.js') }}"></script>
</body>

</html>