<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #fff;
        color: #000;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .btn-custom {
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 200px;
      }
    </style>
    <title>Strona startowa</title>
  </head>
  <body>
    <div class="button-container">
      <h1 class="mb-4">Protokoły</h1>
      <div class="d-flex flex-column align-items-center">
        <a href="/protocol" class="btn btn-custom">Utwórz protokół</a>
        <a href="/protocols/list" class="btn btn-custom">Lista protokołów</a>
        <a href="/laptop" class="btn btn-custom">Dodaj laptopa</a>
      </div>
    </div>
  </body>
</html>
