<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Laptop</title>
</head>

<body>
    <h1>Add Laptop</h1>
    <form id="add-laptop-form">
        <label for="serial_number">Serial Number:</label>
        <input type="text" id="serial_number" name="serial_number"><br>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model"><br>

        <label for="cement">Cement:</label>
        <input type="text" id="cement" name="cement"><br>

        <label for="company">Company:</label>
        <input type="text" id="company" name="company"><br>

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="in-use">In Use</option>
            <option value="available">Available</option>
            <option value="maintenance">Maintenance</option>
        </select><br>

        <button type="submit">Add Laptop</button>
    </form>
<script src="../scripts/laptops_post.js"></script></body>
</html>