<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Equipment</title>
</head>

<body>
    <h1>Add Equipment</h1>
    <form>
        <div>
            <label for="serial_number">Serial Number:</label>
            <input type="text" id="serial_number" name="serial_number" required>
        </div>
        <div>
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" required>
        </div>
        <div>
            <label for="comment">Comment:</label>
            <input type="text" id="coment" name="coment" required>
        </div>
        <div>
            <label for="company">Company:</label>
            <select id="company" name="company">
                <option value="Company A">Company A</option>
                <option value="Company B">Company B</option>
                <option value="Company C">Company C</option>
            </select>
        </div>
        <div>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="New">New</option>
                <option value="Used">Used</option>
                <option value="Damaged">Damaged</option>
            </select>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
<script src="{{ url_for('static', filename='laptops_post.js') }}"></script>

</body>

</html>