<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Protocol View</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous"
    />
    <style>
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 25vh;
      }
      .upload-form {
        margin-top: 10px;
      }
      </style>
      <script src="{{ url_for('static', filename='protocol_form.js') }}"></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <h1 style="text-align: center">Protokół nr. {{ protocol_id }}</h1>
    <table id="protocolTable" class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>Company</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Last Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <script>
     protocolTable('{{ protocol_id }}')
    </script>

    <div style="text-align: center">
      <button
        class="btn btn-primary"
        onclick="window.location.href = '/protocol/gen/{{ protocol_id }}/receiving'"
      >
        Generuj protokół odbiorczy
      </button>
    </div>

    <div style="text-align: center; margin-top: 10px">
      <button
        class="btn btn-primary"
        onclick="window.location.href = '/protocol/gen/{{ protocol_id }}/delivery'"
      >
        Generuj protokół zdawczy
      </button>
    </div>

    <div style="text-align: center; margin-top: 10px">
        <button
          class="btn btn-primary"
          onclick="showModalWithOptions('{{ protocol_id }}')"
        >
          Podglad protokołów
        </button>
    </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div class="container">
  <div class="upload-form">
    <form
      action="/protocol/upload/{{ protocol_id }}/receiving/9"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="input-group mb-3">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="receiving-file"
            name="file"
            onchange="updateFileNameLabel('receiving-file')"
          />
          <label class="custom-file-label" for="receiving-file">Wgraj protokol odbiorczy</label>
        </div>
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary" value="Upload" />
        </div>
      </div>
    </form>
  </div>

  <div class="upload-form">
      <form
        id="uploadForm"
        method="post"
        enctype="multipart/form-data"
        onsubmit="return beforeSubmit(event)"
      >
        <div class="input-group mb-3">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="delivery-file"
              name="file"
              onchange="updateFileNameLabel('delivery-file')"
            />
            <label class="custom-file-label" for="delivery-file">Wgraj protokol dostawczy</label>
          </div>
          <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Upload" />
          </div>
        </div>
      </form>
    </div>
  </div>

<script>
  function beforeSubmit(event) {
      event.preventDefault();

      Swal.fire({
        title: 'Czy chcesz przywrócić ten sprzęt na stan (w obrębie spółki)',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Tak',
        cancelButtonText: 'Nie',
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('uploadForm').action = "/protocol/upload/{{ protocol_id }}/delivery/1";
        }
        else {
          document.getElementById('uploadForm').action = "/protocol/upload/{{ protocol_id }}/delivery/0";
        }

        document.getElementById('uploadForm').submit();
        
      });
    }

  function sendPostRequest(url) {
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({}),
    })
    .then(response => {
      console.log('Odpowiedź z serwera:', response);
    })
    .catch(error => {
      console.error('Błąd:', error);
    });
  }

  function updateFileNameLabel(inputId) {
    const fileInput = document.getElementById(inputId);
    const fileNameLabel = fileInput.nextElementSibling;

    if (fileInput.files.length > 0) {
      fileNameLabel.textContent = fileInput.files[0].name;
    } else {
      fileNameLabel.textContent = fileNameLabel.getAttribute("data-default-label");
    }
  }
</script>

    </div>
  </body>
</html>
