<!DOCTYPE html>
<html>
  <head>
    <title>Protocol View</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 style="align-self: center">Protokół: {{ protocol_id }}</h1>
    <table id="protocolTable" class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>Company</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Last Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <script>
      const protocol_id = {{protocol_id}};
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `/protocol/${protocol_id}`);
      xhr.onload = () => {
        if (xhr.status === 200) {
          const protocol = JSON.parse(xhr.responseText);
          const tableBody = document.querySelector("#protocolTable tbody");
          const row = document.createElement("tr");
          row.innerHTML = `
            <td>${protocol.laptop.company}</td>
            <td>${protocol.laptop.model}</td>
            <td>${protocol.laptop.serial_number}</td>
            <td>${protocol.protocol.last_name}</td>
            <td>${protocol.protocol.date}</td>
          `;
          tableBody.appendChild(row);
        } else {
          console.error(xhr.statusText);
        }
      };
      xhr.send();
    </script>

    <div class="d-flex justify-content-center">
      <button
        class="btn btn-primary"
        onclick="window.location.href = '/protocol/gen/{{protocol_id}}'"
      >
        Generuj protokol odbiorczy
      </button>
    </div>

    <div class="d-flex justify-content-center">
      <form
        action="/protocol/upload/{{protocol_id}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="file"
              name="file"
            />
            <label class="custom-file-label" for="file">Wybierz plik</label>
          </div>
          <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Upload" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
