<!DOCTYPE html>
<html>
  <head>
    <title>Protocol View</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Protocol View for Protocol ID: {{ protocol_id }}</h1>
    <table id="protocolTable" class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Status</th>
          <th>Last Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <script>
      const protocol_id = {{protocol_id}};
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `/protocol/${protocol_id}`);
      xhr.onload = () => {
        if (xhr.status === 200) {
          const protocol = JSON.parse(xhr.responseText);
          const tableBody = document.querySelector("#protocolTable tbody");
          const row = document.createElement("tr");
          row.innerHTML = `
            <td>${protocol.laptop.company}</td>
            <td>${protocol.laptop.model}</td>
            <td>${protocol.laptop.serial_number}</td>
            <td>${protocol.laptop.status}</td>
            <td>${protocol.protocol.last_name}</td>
            <td>${protocol.protocol.date}</td>
          `;
          tableBody.appendChild(row);
        } else {
          console.error(xhr.statusText);
        }
      };
      xhr.onerror = () => console.error(xhr.statusText);
      xhr.send();
    </script>
    <button onclick="window.location.href = '/protocol/gen/{{protocol_id}}'">
      Generate Protocol
    </button>
    <form action="/protocol/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
