<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <nav class="navbar navbar-dark bg-light navbar-left text-center">
      <a href="/start" class="btn btn-custom">Strona startowa &#x1F3E0;</a>
      <span class="text-dark">|</span>
      <a href="/laptop" class="btn btn-custom">Dodaj laptopa &#x1F4BB;</a>
      <span class="text-dark">|</span>
      <a href="/protocol" class="btn btn-custom">Utwórz wpis &#x270D;</a>
      <span class="text-dark">|</span>
      <a href="/protocols/list" class="btn btn-custom"
        >Lista protokołów &#x1F4DA;</a
      >
    </nav>

    <title>Protokół</title>
  </head>

  <body>
    <div class="container">
      <h1 class="my-5">Protokół</h1>
      <h2>Użytkownicy</h2>
      <form id="user-form">
        <div class="form-group">
          <label for="domain_login">Login domenowy:</label>
          <input
            type="text"
            class="form-control"
            id="domain_login"
            name="domain_login"
          />
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login domenowy</th>
            <th>Firma</th>
            <th>Zaznacz</th>
          </tr>
        </thead>
        <tbody id="user-table-body"></tbody>
      </table>

      <h2>Laptopy</h2>
      <form id="laptop-form">
        <div class="form-group">
          <label for="laptop-company">Firma:</label>
          <select
            class="form-control"
            id="laptop-company"
            name="laptop-company"
          >
            <option value="None">None</option>
            <option value="TelForceOne">TelForceOne</option>
            <option value="MpTech">MpTech</option>
            <option value="Teletorium">Teletorium</option>
            <option value="R2">R2</option>
            <option value="Momi">Momi</option>
          </select>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Numer seryjny</th>
            <th>Model</th>
            <th>Komentarz</th>
            <th>Firma</th>
            <th>Status</th>
            <th>Zaznacz</th>
          </tr>
        </thead>
        <tbody id="laptop-table-body"></tbody>
      </table>

      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="charger"
          name="charger"
        />
        <label class="form-check-label" for="charger">Ładowarka</label>
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="mouse_keyboard_status"
          name="mouse_keyboard_status"
        />
        <label class="form-check-label" for="mouse_keyboard_status"
          >Mysz i klawiatura</label
        >
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button id="generate" class="btn btn-primary">Generuj</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='protocol_post.js') }}"></script>
  </body>
</html>
