<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Protocols Table</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-light navbar-left text-center">
        <a href="/start" class="btn btn-custom">Strona startowa &#x1F3E0;</a>
        <span class="text-dark">|</span>
        <a href="/laptop" class="btn btn-custom">Dodaj laptopa &#x1F4BB;</a>
        <span class="text-dark">|</span>
        <a href="/protocol" class="btn btn-custom">Utwórz wpis &#x270D;</a>
        <span class="text-dark">|</span>
        <a href="/protocols/list" class="btn btn-custom"
          >Lista protokołów &#x1F4DA;</a
        >
      </nav>

      <h1>Tabela protokołów</h1>
      <input
        class="form-control mb-3"
        id="searchInput"
        type="text"
        placeholder="Search by Last Name"
      />
      <table id="protocolsTable" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <script src="{{ url_for('static', filename='protocol_get.js') }}"></script>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#protocolsTable tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
</html>
